:root,
:root[data-theme='light'] {
  --accent: #f5f5f5;
  --accent-foreground: #2a2933;
  --background: #ffffff;
  --border: #c5c5cb;
  --card: #ffffff;
  --card-foreground: #2a2933;
  --color-error: #ffbfb2;
  --color-error-foreground: #590f00;
  --color-info: #c9d6f0;
  --color-info-foreground: #001133;
  --color-success: #a1e5a1;
  --color-success-foreground: #003300;
  --color-warning: #ffd9b2;
  --color-warning-foreground: #4d2700;
  --destructive: #cc3314;
  --destructive-foreground: #ffffff;
  --font-primary: 'Inter';
  --font-secondary: 'Inter';
  --foreground: #2a2933;
  --input: #c5c5cb;
  --muted: #f5f5f5;
  --muted-foreground: #616167;
  --popover: #ffffff;
  --popover-foreground: #2a2933;
  --primary: #5749f4;
  --primary-foreground: #ffffff;
  --radius-l: 40px;
  --radius-m: 24px;
  --radius-none: 0px;
  --radius-pill: 999px;
  --radius-xs: 6px;
  --ring: #e1e2e5;
  --secondary: #d9d9db;
  --secondary-foreground: #2a2933;
  --sidebar: #ffffff;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #2a2933;
  --sidebar-border: #d9d9db;
  --sidebar-foreground: #939399;
  --sidebar-primary: #f5f5f5;
  --sidebar-primary-foreground: #2a2933;
  --sidebar-ring: #d9d9db;
  --tile: #f5f5f5;
  --shadow-lg: 0 10px 32px rgb(16 24 40 / 0.08);
  --shadow-md: 0 4px 18px rgb(16 24 40 / 0.06);
}

:root[data-theme='dark'] {
  --accent: #131124;
  --accent-foreground: #f2f3f0;
  --background: #131124;
  --border: #2b283d;
  --card: #1a182e;
  --card-foreground: #ffffff;
  --color-error: #53424f;
  --color-error-foreground: #ffbfb2;
  --color-info: #404562;
  --color-info-foreground: #b2ccff;
  --color-success: #3b4748;
  --color-success-foreground: #a1e5a1;
  --color-warning: #53484f;
  --color-warning-foreground: #ffd9b2;
  --destructive: #cc3314;
  --destructive-foreground: #ffffff;
  --font-primary: 'Inter';
  --font-secondary: 'Inter';
  --foreground: #e8e8ea;
  --input: #2b283d;
  --muted: #2e2e2e;
  --muted-foreground: #888799;
  --popover: #1a182e;
  --popover-foreground: #ffffff;
  --primary: #5749f4;
  --primary-foreground: #ffffff;
  --radius-l: 40px;
  --radius-m: 24px;
  --radius-none: 0px;
  --radius-pill: 999px;
  --radius-xs: 6px;
  --ring: #666666;
  --secondary: #403f51;
  --secondary-foreground: #ffffff;
  --sidebar: #1a182e;
  --sidebar-accent: #2b283d;
  --sidebar-accent-foreground: #e8e8ea;
  --sidebar-border: #2b283d;
  --sidebar-foreground: #acabb2;
  --sidebar-primary: #0f5ffe;
  --sidebar-primary-foreground: #e8e8ea;
  --sidebar-ring: #2b283d;
  --tile: #1a182e;
  --shadow-lg: 0 18px 44px rgb(0 0 0 / 0.28);
  --shadow-md: 0 8px 22px rgb(0 0 0 / 0.2);
}
